<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © Copyright <%= new Date().getFullYear() %>
            <a class="grey-text text-lighten-4 right" href="#!">Smart Traz</a>
        </div>
    </div>
    
</footer>
<!-- <p class="text-center text-muted">© Copyright 2021 Smart Traz</p> -->