<nav>
  <div class="nav-wrapper">

    <a href="/" class="brand-logo">Smart Traz</a>
    <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Iniciar sesión</a></li>
        <li><a href="/register">Registrarse</a></li>
      </ul>
</div>

  <ul class="sidenav" id="menu-responsive">
    <li><a href="/">Inicio</a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
    <li><a href="/register">Registrarse</a></li>
  </ul>
</nav>