<% layout('../partials/layout') -%>
<% block('title', 'Inicio'); -%><br>
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a Smart Traz</h1>
        <p class="lead">Control de aforo y trazabilidad de visitantes</p>
        <hr class="my-4">
        </br>
        <div class="row">
            <div class="card">
                <div class="card-header">
                ESTABLECIMIENTO
                </div>
                <div class="card-body">
                  <h5 class="card-title">Administrá los datos de tu establecimiento</h5>
                  <p class="card-text">Mantené siempre actualizada tu información.</p>
                  <a href="establecimiento" class="btn btn-primary">Administrar</a>
                </div>
              </div>
        </div>
    </div>
</div>